@import url("style.css");


#totop a img {
 display:block; position:fixed; right:20px; bottom:20px; z-index:300;
 width:30px;height:30px;
 border-radius:15%; padding:10px 10px; vertical-align:middle;
 background:rgba(100,150,100,0.7);
 }


#sub_pd{margin: 0 auto; background-color:#fff;}

#pd1 { margin: 0 auto;width: 928px;height: 50px;margin-top:100px;}
#pd1 li{float: left;width: 300px;height: 50px;border: 1px solid #ccc;}
#pd1 li a{ display:block;text-align:center;line-height:50px;padding:18px 0 18px;
font:14px 'NanumGothic';color:#aaa;letter-spacing:2px;}
#pd1 li:first-child {/* background-color:#009900; */border: 2px solid #009900;margin-right: 10px;}
#pd1 li:first-child a{color:#009900;}
#pd1 li:last-child{margin-left: 10px;}


#sub_pd1_soge{margin: 0 auto;width:1175px;}

#sub_pd1_soge .glimg{width: 100%;}
#sub_pd1_soge .glimg p {margin-top:10px; font-family:'nanumGothic'; color:#555;}

#sub_pd1_soge h2{margin-top: 50px;}
#sub_pd1_soge h2 span{color:#009900;}
#sub_pd1_soge h3{font-size:16px; font-weight:400; color:#777;margin-top:10px;}

#sub_pd1_soge #sogeli{width: 1175px;margin-top: 80px;}
#sub_pd1_soge #sogeli:after{content:'';display: block;clear: both;}
#sub_pd1_soge #sogeli li{float: left; width:587px;height:365px;
text-align: center;vertical-align: middle;margin: 20px 0 20px;}

#sub_pd1_soge #sogeli li .num{margin:auto;margin-top:70px;
width:50px;font-size:20px;padding:10px;background-color:#009900;color:#fff;}
#sub_pd1_soge #sogeli li .title{margin-top: 20px;font-size:25px;font-weight: bold;}
#sub_pd1_soge #sogeli li .str{margin-top: 40px;
font-size:15px; font-family:'NanumGothic'; letter-spacing: 2px;line-height:25px;}
#sub_pd1_soge #sogeli li .str span{color:#009900;}

#sub_pd1_soge #bogi{margin: 0 auto;margin-top: 150px;margin-bottom: 150px;width: 614px;}
#sub_pd1_soge #bogi:after{content:'';display: block;clear: both;}
#sub_pd1_soge #bogi li{float: left; width: 300px;text-align: center;padding:15px 0 15px;}
#sub_pd1_soge #bogi li:first-child{background-color: #66cc00;margin-right: 10px;}
#sub_pd1_soge #bogi li:last-child{background-color: #009900;}
#sub_pd1_soge #bogi li a{padding:15px 0 15px; font-family:'NanumGothic'; color:#fff;}
